@media only screen and (min-width: 767px) {
  .list > div:nth-child(2) > div {
    width: 70vw;
  }
  .list-container > .list > .list-item {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .list > div:nth-child(2) > div {
    width: 95vw;
  }
  .list-container > p:first-child {
    text-align: center;
  }
  .list-container > .list > .list-item {
    flex-direction: column;
    align-items: center;
  }
  .column-1,
  .column-2,
  .column-3 {
    text-align: center;
  }
  .column-4 {
    position: relative;
    right: 7px;
  }
}
.list-container {
  position: relative;
  top: 100px;
  margin-top: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-container > p:first-child {
  font-size: 30px;
  color: rgb(62, 63, 58);
}
.list-container > p:nth-child(2) {
  margin-top: 1rem;
  width: 90px;
  height: 20px;
  background-color: #213827;
  color: white;
  text-align: center;
  cursor: pointer;
}
.list-container > p:nth-child(2):hover {
  background-color: #305239;
}
.list-container > .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-container > .list > .list-item {
  margin: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
.list-container > .list > .list-item:first-child > span {
  font-weight: bolder;
  color: rgb(62, 63, 58);
}
.list-item > .column-1,
.list-item > .column-2,
.list-item > .column-3 {
  margin-right: 1rem;
}
.list-item > .column-4 {
  width: 70px;
  height: 20px;
  background-color: #f53848;
  text-align: center;
  color: antiquewhite;
  border-radius: 5px;
  cursor: pointer;
}
.list-item > .column-4:hover {
  background-color: #8c2a2c;
}
.list-item:last-child {
  margin-bottom: 15vh !important;
}
